# Web Scraping Lab

You will find in this notebook some scrapy exercises to practise your scraping skills.

**Tips:**

- Check the response status code for each request to ensure you have obtained the intended contennt.
- Print the response text in each request to understand the kind of info you are getting and its format.
- Check for patterns in the response text to extract the data/info requested in each question.
- Visit each url and take a look at its source through Chrome DevTools. You'll need to identify the html tags, special class names etc. used for the html content you are expected to extract.

- [Requests library](http://docs.python-requests.org/en/master/#the-user-guide) documentation 
- [Beautiful Soup Doc](https://www.crummy.com/software/BeautifulSoup/bs4/doc/)
- [Urllib](https://docs.python.org/3/library/urllib.html#module-urllib)
- [re lib](https://docs.python.org/3/library/re.html)
- [lxml lib](https://lxml.de/)
- [Scrapy](https://scrapy.org/)
- [List of HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
- [HTML basics](http://www.simplehtmlguide.com/cheatsheet.php)
- [CSS basics](https://www.cssbasics.com/#page_start)

#### Below are the libraries and modules you may need. `requests`,  `BeautifulSoup` and `pandas` are imported for you. If you prefer to use additional libraries feel free to uncomment them.

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
# from pprint import pprint
# from lxml import html
# from lxml.html import fromstring
# import urllib.request
# from urllib.request import urlopen
# import random
import re
# import scrapy

#### Download, parse (using BeautifulSoup), and print the content from the Trending Developers page from GitHub:

In [7]:
# This is the url you will scrape in this exercise
url = 'https://github.com/trending/developers'

In [9]:
#your code
html = requests.get(url).content
soup = BeautifulSoup(html, 'lxml')
nombre = soup.select('h1[class="h3 lh-condensed"]')
nombre = [element.text.strip() for element in nombre]
df = pd.DataFrame(nombre)
df.head()

                   0
0      Gleb Bahmutov
1      David Teather
2      Pascal Vizeli
3         Alon Zakai
4  Benjamin Piouffle

#### Display the names of the trending developers retrieved in the previous step.

Your output should be a Python list of developer names. Each name should not contain any html tag.

**Instructions:**

1. Find out the html tag and class names used for the developer names. You can achieve this using Chrome DevTools.

1. Use BeautifulSoup to extract all the html elements that contain the developer names.

1. Use string manipulation techniques to replace whitespaces and linebreaks (i.e. `\n`) in the *text* of each html element. Use a list to store the clean names.

1. Print the list of names.

Your output should look like below:

```
['trimstray (@trimstray)',
 'joewalnes (JoeWalnes)',
 'charlax (Charles-AxelDein)',
 'ForrestKnight (ForrestKnight)',
 'revery-ui (revery-ui)',
 'alibaba (Alibaba)',
 'Microsoft (Microsoft)',
 'github (GitHub)',
 'facebook (Facebook)',
 'boazsegev (Bo)',
 'google (Google)',
 'cloudfetch',
 'sindresorhus (SindreSorhus)',
 'tensorflow',
 'apache (TheApacheSoftwareFoundation)',
 'DevonCrawford (DevonCrawford)',
 'ARMmbed (ArmMbed)',
 'vuejs (vuejs)',
 'fastai (fast.ai)',
 'QiShaoXuan (Qi)',
 'joelparkerhenderson (JoelParkerHenderson)',
 'torvalds (LinusTorvalds)',
 'CyC2018',
 'komeiji-satori (神楽坂覚々)',
 'script-8']
 ```

In [11]:
#your code
nombre = soup.select('h1[class="h3 lh-condensed"]')
nombre = [element.text.strip() for element in nombre] #Obtenemos la lista de los usuarios

alias = soup.select('p[class="f4 text-normal mb-1"]')
alias = [element.text.strip() for element in alias] #Obtenemos la lista de los alias de los usuarios

resultado = zip(nombre,alias) #Esta es la forma màs sencilla que se me ocurrio de hacer el merge de listas

#for result in resultado:
#    print(list(result))
df = pd.DataFrame(resultado)
df.head()

                   0             1
0      Gleb Bahmutov      bahmutov
1      David Teather  davidteather
2      Pascal Vizeli       pvizeli
3         Alon Zakai       kripken
4  Benjamin Piouffle        Betree

#### Display the trending Python repositories in GitHub

The steps to solve this problem is similar to the previous one except that you need to find out the repository names instead of developer names.

In [12]:
# This is the url you will scrape in this exercise
url1 = 'https://github.com/trending/python?since=daily'

In [13]:
#your code
html1 = requests.get(url1).content
html1
soup1 = BeautifulSoup(html1,'lxml')
repositorio = soup1.select('h1[class="h3 lh-condensed"]')
repositorio = [element.text.strip() for element in repositorio]
clean_repositorio = list()
for element in repositorio:
    clean = re.sub('\s+\W\s+', '->', element).strip()
    clean_repositorio.append(clean)
    
df = pd.DataFrame(clean_repositorio)
df.head()

                                             0
0  microsoft->Bringing-Old-Photos-Back-to-Life
1                  Asabeneh->30-Days-Of-Python
2                     public-apis->public-apis
3                          corpnewt->GenSMBIOS
4                           corpnewt->gibMacOS

#### Display all the image links from Walt Disney wikipedia page

In [14]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/Walt_Disney'

In [16]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.text, 'lxml')
ready = soup.select('img')
respuesta = ['http:' + element.get('src') for element in ready]

df = pd.DataFrame(respuesta)
df.head()

                                                   0
0  http://upload.wikimedia.org/wikipedia/en/thumb...
1  http://upload.wikimedia.org/wikipedia/en/thumb...
2  http://upload.wikimedia.org/wikipedia/commons/...
3  http://upload.wikimedia.org/wikipedia/commons/...
4  http://upload.wikimedia.org/wikipedia/commons/...

#### Retrieve an arbitary Wikipedia page of "Python" and create a list of links on that page

In [18]:
# This is the url you will scrape in this exercise
url ='https://en.wikipedia.org/wiki/Python'

In [20]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.text, 'lxml')
links = soup.select('a')
links_on_page = []
for idx in range(len(links)):
    if idx == 0:
        pass
    elif links[idx]['href'].startswith('http'):
        links_on_page.append(links[idx]['href'].strip())
        
df = pd.DataFrame(links_on_page)
df.head()

                                                   0
0              https://en.wiktionary.org/wiki/Python
1              https://en.wiktionary.org/wiki/python
2  https://en.wikipedia.org/w/index.php?title=Spe...
3  https://en.wikipedia.org/w/index.php?title=Pyt...
4  https://donate.wikimedia.org/wiki/Special:Fund...

#### Number of Titles that have changed in the United States Code since its last release point

In [22]:
# This is the url you will scrape in this exercise
url = 'http://uscode.house.gov/download/download.shtml'

In [24]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.text, 'lxml')
titles = soup.select('div [class="usctitlechanged"]')
titles_clean = [title.text.strip() for title in titles]
df = pd.DataFrame(titles_clean)
df.head()

                               0
0          Title 7 - Agriculture
1        Title 11 - Bankruptcy ٭
2            Title 13 - Census ٭
3       Title 14 - Coast Guard ٭
4  Title 15 - Commerce and Trade

#### A Python list with the top ten FBI's Most Wanted names

In [25]:
# This is the url you will scrape in this exercise
url = 'https://www.fbi.gov/wanted/topten'

In [27]:
#your code 
html = requests.get(url)
soup = BeautifulSoup(html.text, 'lxml')
names = soup.select('h3[class="title"]')
names_clean = [name.text.strip() for name in names]
df = pd.DataFrame(names_clean)
df.head()

                                   0
0         ALEJANDRO ROSALES CASTILLO
1                    ARNOLDO JIMENEZ
2                  JASON DEREK BROWN
3                      ALEXIS FLORES
4  JOSE RODOLFO VILLARREAL-HERNANDEZ

####  20 latest earthquakes info (date, time, latitude, longitude and region name) by the EMSC as a pandas dataframe

In [29]:
# This is the url you will scrape in this exercise
url = 'https://www.emsc-csem.org/Earthquake/'

In [159]:
#your code
html = requests.get(url)
soup = BeautifulSoup(html.text, 'lxml') #I made the soup :) Delicious
table = soup.select('td')#I could get the whole row but it would be very difficult to manipulate my data. So, I get each element
elements = [element.text.strip() for element in table]#Clean the data, deletind all the html an CSS tags
elements_clean = [element for element in elements if element]#A very simple way to delete all empty element from the list
elements_clean = elements_clean[8:]#I delete the headers that I don't need so I just have my list of elements
#####Data&Tiem
date_time = [element for element in elements_clean if "-" in element]#This way I obtain the Date and Time coz I know they have a -
date_time = [element.replace('earthquake', '') for element in date_time]#Delete earthquake word
date_time = [element.replace('\xa0\xa0\xa0', '') for element in date_time]#Delete \xa0\xa0\xa0 coz dont know what it is and its useless
date_time.remove('KAZAKHSTAN-XINJIANG BORDER REG.')#There was this item in my list. I dont need it.
date_time = date_time[ : :2]#I dont know where the other date/time came, but I need this one
date_time = [element[:10] + ' '+ element[10:] for element in date_time]#Just add a space between date and time
date_time = [element.replace(element[21:], '') for element in date_time]#Dele useless info

#latitude & longitude
location = ' '.join(elements_clean) #Just merge everything in a big string
location = re.findall(r'\s\d+\.\d+\s\w',location)#This will return a list wit both coordinates
latitude = location[: :2]#Simple slicing for longitude & latitude
longitude =location[1: :2]
##Region
region = ' '.join(elements_clean) #Just merge everything in a big string
region = re.findall(r'[A-Z]+\,\s[A-Z]+|[A-Z]+\s[A-Z]+|[A-Z]+\s[A-Z]+,\s[A-Z]+|[A-Z]+\s[A-Z]+,\s[A-Z]+\s[A-Z]+', region)


table = {'date_time': date_time, 'latitude':latitude, 'longitude': longitude, 'region': region}

df = pd.DataFrame.from_dict(table, orient='index')
df = df.transpose()
df

##Por favor ignoremos que obtuve valores inexistentes de longitud y latitud

                date_time   latitude longitude                region
0   2020-11-15 21:54:51.0    27.96 S   66.40 W  CATAMARCA, ARGENTINA
1   2020-11-15 21:52:02.7      3.6 C   45.89 N        NORTHERN ITALY
2   2020-11-15 21:19:09.0     7.01 E     1.6 N     VALPARAISO, CHILE
3   2020-11-15 21:17:55.9    32.97 S   70.25 W    DODECANESE ISLANDS
4   2020-11-15 21:15:10.8      2.9 V   37.80 N             ISLAND OF
..                    ...        ...       ...                   ...
70                   None      2.7 M   19.21 N                  None
71                   None   155.43 W     2.2 I                  None
72                   None    42.28 N   80.45 E                  None
73                   None      4.3 K    4.88 N                  None
74                   None   126.60 E     3.3 K                  None

[75 rows x 4 columns]

#### Display the date, days, title, city, country of next 25 hackathon events as a Pandas dataframe table

In [ ]:
# This is the url you will scrape in this exercise
url ='https://hackevents.co/hackathons'

In [ ]:
#your code

#### Count number of tweets by a given Twitter account.

You will need to include a ***try/except block*** for account names not found. 
<br>***Hint:*** the program should count the number of tweets for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### Number of followers of a given twitter account

You will need to include a ***try/except block*** in case account/s name not found. 
<br>***Hint:*** the program should count the followers for any provided account

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
#your code

#### List all language names and number of related articles in the order they appear in wikipedia.org

In [2]:
# This is the url you will scrape in this exercise
url = 'https://www.wikipedia.org/'

#### A list with the different kind of datasets available in data.gov.uk

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://data.gov.uk/'

In [ ]:
#your code

#### Top 10 languages by number of native speakers stored in a Pandas Dataframe

In [ ]:
# This is the url you will scrape in this exercise
url = 'https://en.wikipedia.org/wiki/List_of_languages_by_number_of_native_speakers'

In [ ]:
#your code

### BONUS QUESTIONS

#### Scrape a certain number of tweets of a given Twitter account.

In [ ]:
# This is the url you will scrape in this exercise 
# You will need to add the account credentials to this url
url = 'https://twitter.com/'

In [ ]:
# your code

#### IMDB's Top 250 data (movie name, Initial release, director name and stars) as a pandas dataframe

In [ ]:
# This is the url you will scrape in this exercise 
url = 'https://www.imdb.com/chart/top'

In [ ]:
# your code

#### Movie name, year and a brief summary of the top 10 random movies (IMDB) as a pandas dataframe.

In [ ]:
#This is the url you will scrape in this exercise
url = 'http://www.imdb.com/chart/top'

In [ ]:
#your code

#### Find the live weather report (temperature, wind speed, description and weather) of a given city.

In [ ]:
#https://openweathermap.org/current
city = city=input('Enter the city:')
url = 'http://api.openweathermap.org/data/2.5/weather?'+'q='+city+'&APPID=b35975e18dc93725acb092f7272cc6b8&units=metric'

In [ ]:
# your code

#### Book name,price and stock availability as a pandas dataframe.

In [ ]:
# This is the url you will scrape in this exercise. 
# It is a fictional bookstore created to be scraped. 
url = 'http://books.toscrape.com/'

In [ ]:
#your code